# CyberArk OpenShift 4 lab configuration variables

# Set path to the kubeconfig file for cluster connection

export KUBECONFIG=<this-dir>/kubeconfig

# CLUSTER_DOMAIN is the domain name for cluster API server,
#   e.g. if the server is at: https://api.foo.bar.com:6443
#   then CLUSTER_DOMAIN is: foo.bar.com

export CLUSTER_DOMAIN=

# add path to oc CLI (if needed)
#export PATH=$PATH:/usr/local/bin/oc

#############################################################
# DO NOT CHANGE ANYTHING BELOW UNLESS OTHERWISE INSTRUCTED
#############################################################

if [[ "$CLUSTER_DOMAIN" == "" ]]; then
  echo "Edit .../ocp4-workshop-labs/dap-app.config w/ kubeconfig path and cluster domain."
  exit -1
fi

######################
# These values must be the same as dap-service.config used to setup the DAP primary.
export CYBERARK_NAMESPACE_NAME=cyberlab
export CONJUR_ACCOUNT=lab
export CLUSTER_AUTHN_ID=$CYBERARK_NAMESPACE_NAME
######################

# URL of cluster api
export LAB_CLUSTER=https://api.$CLUSTER_DOMAIN:6443

# URL of cluster console UI
export CONSOLE_URL=https://console-openshift-console.apps.$CLUSTER_DOMAIN

# DAP service parameters
export CONJUR_MASTER_HOSTNAME=dap-service-node-$CYBERARK_NAMESPACE_NAME.apps.$CLUSTER_DOMAIN

export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
export CONJUR_AUTHN_URL=https://dap-service-node.$CYBERARK_NAMESPACE_NAME.svc.cluster.local/api/authn-k8s/$CLUSTER_AUTHN_ID

# Public registries
export APP_IMAGE=jodyhuntatx/lab-app:alpine
export AUTHENTICATOR_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SECRETLESS_BROKER_IMAGE=cyberark/secretless-broker:latest
export SECRETS_PROVIDER_IMAGE=cyberark/secrets-provider-for-k8s:latest

# Hostname of target database
export DB_HOSTNAME=mysql-db.$CYBERARK_NAMESPACE_NAME.svc.cluster.local

# DAP role for read-only access to ACCOUNT_USERNAME and ACCOUNT_PASSWORD
export SECRETS_ACCESS_ROLE=LabVault/Labs/LabSafe1/delegation/consumers
export ACCOUNT_USERNAME=LabVault/Labs/LabSafe1/MySQL/username
export ACCOUNT_PASSWORD=LabVault/Labs/LabSafe1/MySQL/password
